.header {
  background-color: brown;
  height: 70px;
  margin: -8px;
  padding: 10px 20px;
}

a {
  color: rgb(43, 4, 4);
  font-size: 50px;
}

.main {
  border: solid;
  min-height: 100vh;
  margin: 8px -8px;
  padding: 0px 10px;
}
